extends layout

block style
  include ./style/user
block scripts
  include ./script/user

include ./mixins/header

include ./mixins/inbox
include ./mixins/task
include ./mixins/history

include ./mixins/createnote

block content
  - function createNameHouse(house) { console.log(house);return house.street_new_rus ? house.street_new_rus + " " +  house.name_new_rus + ", " + house.building + " (стр.наз. " + house.street_rus + " " +  house.name_rus + ")" :  house.street_rus + " " + house.name_rus + ", " + house.building }

  #loading_layer
    .loader

  +header(user, true, true, true)

  .container(role="main")
    .row
      .col-sm-12.well
        if (R.any(R.whereEq({name: 'showProfile'}), user.Rules))
          .well.well-sm
            .row
              .col-sm-6.col-md-3.text-center
                img(src= user.image max-width='300px').img-responsive.img-thumbnail
              .col-sm-6.col-md-9.text-center
                h4 #{user.name}
                small
                  cite #{user.Depatment.name}
                ul.list-group
                  li.list-group-item
                    i.fa.fa-envelope-o
                    | #{" " + user.email}
                  li.list-group-item
                    i.fa.fa-phone
                    | #{" " + user.phone}
          h3.text-center Входящие на отдел
          - var prepareHouse = R.compose(R.map(R.head()), R.reduceBy((acc, inbox) => acc.concat(createNameHouse(inbox.House)), [])(inbox => inbox.House.id))(user.Depatment.Inboxes);
          - var groupInboxes = R.groupBy(inbox => inbox.House.id, user.Depatment.Inboxes)

          .just-padding
            .list-group.list-group-root.well
              each house, key in prepareHouse
                a(href="#house-" + key class="list-group-item" data-toggle="collapse")
                  i.glyphicon.glyphicon-chevron-right
                  | #{house}
                  span.badge #{groupInboxes[key].length}
                .list-group.collapse(id="house-" + key)
                  each inbox, ind in groupInboxes[key]
                    a(href="#inbox-" + (key + '-' + ind) class="list-group-item" data-toggle="collapse")
                      i.glyphicon.glyphicon-chevron-right
                      span
                        | #{' '}
                        | Входящие #{"# " + inbox.number} от #{moment(inbox.inboxdate).format('DD-MM-YYYY')}
                       br
                      span.label.label-primary #{moment(inbox.term).fromNow()}
                    .list-group.collapse(id="inbox-" + (key + '-' + ind))
                      .list-group-item
                        dl.dl-horizontal
                          if (inbox.binding)
                            dt Привязка
                            dd #{inbox.binding}
                          if (inbox.Problems.length)
                            dt Проблемы
                            dd
                              each problem, ins in inbox.Problems
                                i #{problem.name}
                                if (ins !== (inbox.Problems.length - 1))
                                  | #{', '}

          h3.text-center Задачи Необходимые выполнить
          // - var listHouse = R.compose(R.toPairs,R.groupBy(task => task.House.id))(user.ItemTasks)
          // - var sortByStreet = R.compose(R.toPairs,R.groupBy(task => task.House.id))(user.ItemTasks)
          //- | #{JSON.stringify(sortByStreet)}
          //- each task in user.ItemTasks
          //-   +history(task, '')