mixin uploadfilesbutton(filearray, pathToFile)
  
  if (filearray.length)
    .fileBlock
      button.btn.btn-primary.btn-sm.startLoadFile
        i.fa.fa-files-o
        | #{" "}Подгрузить файлы (#{filearray.length} шт.)
      .hidden-files.hide
        dl.dl-horizontal
          - var groupDocument = viewHelper.filterFile(filearray, 'document')
          
          if (groupDocument.length)
            dt Загруженные файлы
            dd
              ul
                each doc in groupDocument
                  li
                    a(href= pathToFile + '/upload/' + doc.path)
                      i.fa.fa-paperclip
                      | #{" "}
                      if doc.FileDescription.name
                        | #{doc.FileDescription.name} [#{moment(doc.createAt).format("DD/MM/YYYY")}]
                      else
                        | #{moment(doc.createAt).format(DD/MM/YYYY)}
                      br
                      | #{doc.FileDescription.note}

          each groupImage in viewHelper.filterFile(filearray, 'photo')
            dt #{groupImage[0]}
            dd
              .gal.photogallery
                each file in groupImage[1]
                  a(href= pathToFile + '/upload/' + file.path title= file.FileDescription.note + '<br>Дата добавления: ' + moment(file.createdAt).format("DD-MM-YYYY"))
                    img.lazy.img-thumbnail.img-responsive(data-src= pathToFile + '/upload/' + file.thumbnail src= pathToFile + '/images/loading-sm.gif')