include ./displayfile
include ./notetask

mixin history(itemtask, pathToFile)
  - var uniquekey = Math.random().toString().slice(2);

  - function filterFile(arr, type){ if(type == 'photo') {return R.pipe(R.filter(item => R.prop('type', item) == type),R.groupBy(item => moment(item.createdAt).format("YYYY-MM-DD")),R.toPairs, R.sort(R.descend(R.nth(0))))(arr)} else {return R.filter(item => R.prop('type', item) == type)(arr)} }

  - function inicialName(str){ return str.split(' ').map(part => {return part[0].toUpperCase() + part.slice(1)}).join(' ')}

  -var itemTaskState = {active: { letter: "Написать письмо", photoreport: "Сделать фотоотчет", information: "Предоставить информацию"}, add: { letter: "Письмо добавлено", photoreport: "Фотоотчет загружен", information: "Информация добавлена"}, close: { letter: "Письмо закрыто", photoreport: "Фотоотчет", information: "Информация"}}

  .panel-group
    div(class= "panel panel-default")
      .panel-heading(
          style='border-right: 5px solid ' + ((itemtask.status == 'add')?'#ec9f13':(itemtask.status == 'close')?'green':'red'))
        h4.panel-title
          a.arrow-toggle.collapsed(
          data-toggle="collapse"
          href="#collapse-task-" + itemtask.id + '-' + uniquekey)

            if (itemtask.TaskType.model == 'inbox')
              span.pull-left
                b #{itemTaskState[itemtask.status][itemtask.TaskType.name.split('-')[0]]}
                br
                i [ #{itemtask.TaskType.description} #{itemtask.Inbox.number} ]

            else if (itemtask.TaskType.model == 'authority')
              span.pull-left
                b #{itemTaskState[itemtask.status][itemtask.TaskType.name.split('-')[0]]}
                br
                i [ #{itemtask.TaskType.description} #{itemtask.Authority.name} #{moment(itemtask.Authority.date).format("DD-MM-YYYY")} #{itemtask.Authority.location} ]

            else if (itemtask.TaskType.model == 'program')
              span.pull-left
                b #{itemTaskState[itemtask.status][itemtask.TaskType.name.split('-')[0]]}
                br
                i [ #{itemtask.TaskType.description} #{itemtask.Program.title} ]

            else if (itemtask.TaskType.model == 'schedule')
              span.pull-left
                b #{itemTaskState[itemtask.status][itemtask.TaskType.name.split('-')[0]]}
                br
                i [ #{itemtask.TaskType.description} #{itemtask.Schedule.title} #{itemtask.Schedule.year || moment(itemtask.Schedule.date).format("YYYY")} ]

            else if (itemtask.TaskType.model == 'protocol')
              span.pull-left
                b #{itemTaskState[itemtask.status][itemtask.TaskType.name.split('-')[0]]}
                br
                i [ #{itemtask.Protocol.title} #{moment(itemtask.Protocol.date).format("DD-MM-YYYY")} #{itemtask.Protocol.location} ]

            else if (itemtask.TaskType.model == 'problem')
              span.pull-left
                b #{itemTaskState[itemtask.status][itemtask.TaskType.name.split('-')[0]]}
                br
                i [ #{itemtask.Problem.name} ]

            else if (itemtask.TaskType.model == 'information')
              span.pull-left
                b #{itemTaskState[itemtask.status][itemtask.TaskType.name.split('-')[0]]}
                br
                i [ #{itemtask.Information.description} ]



            span.pull-right
              i.fa.fa-calendar
              | #{' ' + moment(itemtask.TaskType.createAt).format('DD-MM-YYYY')}
            .clearfix

      .panel-collapse.collapse(id="collapse-task-" + itemtask.id + '-' + uniquekey)
        .panel-body
          dl.dl-horizontal
            dt Исполнитель
            dd #{inicialName(itemtask.Implementer.name)}

            if (itemtask.binding)
              dt Привязка
              dd #{itemtask.binding}

            if (itemtask.Problems.length)
              dt Проблемы
              dd
                each problem, ind in itemtask.Problems
                  i #{problem.name}
                  if (ind !== (itemtask.Problems.length - 1))
                    | #{', '}

        .panel-footer
          if (itemtask.NoteTasks.length)
            +createnotetask(itemtask)

          if (itemtask.Files.length)
            +uploadfilesbutton(itemtask.Files, pathToFile)