mixin tasklist(itemtasktype, house, rules)
  tr.img-thumbnail(style='border-right-color:' + ((itemtasktype.status == 'add')?'#ec9f13':(itemtasktype.status == 'close')?'green':'red'))
    -var itemtaskobj = { letter: "Написать письмо", photoreport: "Фотоотчет", information: "Предоставить информацию"}
    td(data-title='Исполнитель')
      b #{  viewHelper.inicialName(itemtasktype.Implementer.name)}
      br
      mark #{itemtaskobj[itemtasktype.TaskType.name.split('-')[0]]}

    if (itemtasktype.TaskType.model == 'inbox')
      td(data-title='Вид задания')
        b #{itemtasktype.TaskType.description}
        br
        a(href='#inboxNumber' + itemtasktype.Inbox.id) #{itemtasktype.Inbox.number}


    else if (itemtasktype.TaskType.model == 'authority')
      td(data-title='Вид задания')
        b #{itemtasktype.TaskType.description}
        br
        i #{itemtasktype.Authority.name}
        br
        i #{moment(itemtasktype.Authority.date).format("DD-MM-YYYY")}
        br
        i #{itemtasktype.Authority.location}

    else if (itemtasktype.TaskType.model == 'information')
      td(data-title='Вид задания')
        b #{itemtasktype.TaskType.description}
        br
        i #{itemtasktype.Information.description}

    else if (itemtasktype.TaskType.model == 'schedule')
      td(data-title='Вид задания')
        b #{itemtasktype.TaskType.description}
        br
        i #{itemtasktype.Schedule.title} - #{itemtasktype.Schedule.type}

    else if (itemtasktype.TaskType.model == 'program')
      td(data-title='Вид задания')
        b #{itemtasktype.TaskType.description}
        br
        i #{itemtasktype.Program.title}

    else if (itemtasktype.TaskType.model == 'protocol')
      td(data-title='Вид задания')
        b #{itemtasktype.TaskType.description}
        br
        i #{itemtasktype.Protocol.title}
        br
        i #{moment(itemtasktype.Protocol.date).format("DD-MM-YYYY")}
        br
        i #{itemtasktype.Protocol.location}


    td(data-title='Привязка к местности')
      | #{itemtasktype.binding || " "}

    td(data-title='Проблемы в задании')
      if (itemtasktype.Problems.length)
        each problem in itemtasktype.Problems
          i #{"- " + problem.name}
          br
      else
        | #{' '}

    td(data-title='Срок исполнения')
      | #{moment(itemtasktype.term).calendar()}
      br
      if (moment.duration(moment(itemtasktype.term).diff(moment())).days() < 3)
        i.label.label-danger
          |#{moment(itemtasktype.term).fromNow()}
      else
        i.label.label-success
          |#{moment(itemtasktype.term).fromNow()}


    td(data-title=' ')
      .dropup
        button.btn.btn-primary.btn-xs.dropdown-toggle(type="button" data-toggle="dropdown")= 'Действие '
          span.caret
        ul.dropdown-menu
          li.dropdown-header Другие действия
          if (viewHelper.checkUserRule('addFile', user.Rules))
            li.dropdown-header Загрузить на сервер
            li
              a(
              href='#'
              data-toggle='modal'
              data-target='#createNoteTask'
              data-taskid= itemtasktype.id
              data-houseid= house.id) Заметка
            li
              a(
              href='#'
              data-toggle='modal'
              data-target='#createFile'
              data-object='task'
              data-file='document'
              data-objecthouse= house.id
              data-objectid= itemtasktype.id) Документ
            li
              a(
              href='#'
              data-toggle='modal'
              data-target='#createFile'
              data-object='task'
              data-file='photo'
              data-objecthouse= house.id
              data-objectid= itemtasktype.id) Фотографию