mixin programlist(program, rules)
  li.list-group-item
    .dropdown.pull-right
      button.btn.btn-primary.btn-xs.dropdown-toggle(type="button" data-toggle="dropdown")= 'Действие '
        span.caret
      ul.dropdown-menu
        if ( viewHelper.checkUserRule('changeWork', rules) )
          li.dropdown-header Администрирование
            li
              a(href='/work/program/' + program.id + '/edit') Редактировать
        //- li.dropdown-header Просмотр
        //- - var programdocs = program.Files.filter(function(file){return file.type == 'document'})
        //- if programdocs.length
        //-   li
        //-     each doc in programdocs
        //-       a(href= '../upload/' + doc.path)
        //-         i.fa.fa-paperclip
        //-         | &nbsp;
        //-         if doc.FileDescription.name
        //-           | #{doc.FileDescription.name} [#{moment(doc.createAt).format("DD/MM/YYYY")}]
        //-         else
        //-           | #{moment(doc.createAt).format(DD/MM/YYYY)}
        //- else
        //-   li
        //-     a
        //-       s.small Документ

        //- - var programphotos = program.Files.filter(function(file){return file.type == 'photo'})
        //- if programphotos.length
        //-   li.inboxgallery
        //-     a(href= '../upload/' + programphotos[0].path) Фотографии
        //-     each photo in programphotos.slice(1)
        //-       a.mfp-hide(
        //-       href= '../upload/' + photo.path
        //-       title= photo.FileDescription.note + '<br>Дата добавления: ' + moment(photo.createAt).format("DD-MM-YYYY"))
        //- else
        //-   li
        //-     a
        //-       s.small Фотографии
        li.dropdown-header Подробно
        li
          a(href='work/program/' + program.id) Список домов
        li.dropdown-header Загрузить на сервер
        li
          a(
          href='#'
          data-toggle='modal'
          data-target='#createFile'
          data-object='program'
          data-file='document'
          data-objecthouse= 0
          data-objectid= program.id) Документ
        li
          a(
          href='#'
          data-toggle='modal'
          data-target='#createFile'
          data-object='program'
          data-file='photo'
          data-objecthouse= 0
          data-objectid= program.id) Фотографию

    | #{program.title}
    br
    | #{moment(program.year).format('YYYY')}
